body{background-color: #f8f8f8;}
input,button,a{outline:0 none !important; blr:expression(this.onFocus=this.blur());}
.container{
    background-color: #ffffff;
    margin-top: 60px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.question-detail{
    background-color: #e3e3e3;
    border: solid #9d9d9d 1px;
    border-radius: 0.5em;
    padding-left: 30px;
    padding-top: 8px;
}
.tab-pane{
    display: none;
}
.active{display: block;}
textarea{resize: none;}
.float-left{float:left}
.float-right{float:right}
select{
    width: 50%;
}
.mynavbar{
    font-family: NavFont;
    font-weight:lighter;
    font-size:19px;
    border:none;
    margin-top:20px;
}
.navbar-default .navbar-nav>li>a{
    color: #aaa;
}
.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a{background-color: transparent;}
.navbar-default .navbar-brand{
    font-size: 26px;
    color: #aaa;
}
.navbar-default .navbar-brand:hover{
    cursor: default;
}
.navbar-right .dropdown-menu{
    text-align: right;
}
.navbar-right>.open>.dropdown-menu>li>a{-webkit-transition: padding 0.5s;-moz-transition: padding 0.5s;-ms-transition: padding 0.5s;-o-transition: padding 0.5s;transition: padding 0.5s;}.navbar-right>.open>.dropdown-menu>li>a:hover{padding-right:30px;background-color: #4d9089;color: #ffffff;}
#wrap{
    background:url("/resources/img/header.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    padding:50px 18% 50px 18%;
    color: #fff;
}
#wrap-img{
    background-color: #000;
    opacity: 0.2;
    float: left;
    margin-top:14px;
    margin-right:20px;
    padding:6px 8px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    font-size: 28px;
}
#example_zip_file{padding-left: 8px;}
.form{
    margin-left:auto;
    margin-right:auto;
    padding-top: 40px;
    width: 50%;
}
.form input{
    width: 280px;
}
.form input:focus{
    width: 320px;
    height: 50px;
}
.form button{
    background-color: #F18860;
    border-color: #f0ad4e;
    transition: background 2s;
    width: 280px;
}
.form button:hover{
    background-color: #F18860;
    border-color: #f0ad4e;
}
.form-horizontal .form-group{
    margin-right: auto;
    margin-left: auto;
}
a{
    color: #a9b5c0;
}
table a{
    color: #000000;
}
#questionslist,#rankTable{
    margin-top: 50px;
}
#questionslist a{text-decoration: none; -webkit-transition: padding 0.5s;-moz-transition: padding 0.5s;-ms-transition: padding 0.5s;-o-transition: padding 0.5s;transition: padding 0.5s;}
#questionslist a:hover{padding-left: 10px;font-size: 18px;}
.shadow{box-shadow: 6px 6px 20px 0px rgba(137,137,137,0.6);}
.state{/*查询完成情况时的框*/padding: 5px;margin-bottom: 8px;border: solid 1px #eee;border-left-width: 5px;}
.state-success{
    border-left-color: #37d22c;
}
.state-fail{border-left-color:#d2231a;}
.state-success>h4{color:#37d22c;}
.state-fail>h4{color: #d2231a;}
footer{
    margin-bottom: 0px;
    padding: 10px 17% 20px 17%;
    background:url("/resources/img/header.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    color: #ffffff;
}
.copyright{
    text-align: center;
}
footer > div{
    display: block;
}
.footer-div{
    padding: 0 20px 0 20px;
}
#registerInfo{
    padding-left: 50px;
}
#state_refresh_button_block{
    margin-top: 8px;
    float: right;
}
.submit{/*提交解决方法的按钮*/
    background-image: linear-gradient(to bottom,#ff9462 0, #F18860 100%);
    background-color: #F18860;
    border-color: #f0ad4e;
    color: #ffffff;
}
.user-head-div{
    margin-bottom: 6px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 110px;
    height: 110px;
}
.user-head-div img{
    width:inherit;
    height:inherit;
    border-radius: 55px;
}
.mycol-md-2{
    height: 85%;
}
@font-face {
    font-family: NavFont;
    src: url('font/MontserratAlternates-ExtraLight.otf');
}
.nobackground-color:hover{
    background-color: #ffffff;
}
#accordion .success{
    background-image: linear-gradient(to bottom,#dff0d8 0,#c8e5bc 100%);
    border:#b2dba1 1px solid;
}
.tab-content{
    padding:0 10px 10px 10px;
}
#rankTable td{
    text-align:center;
}
#matchResult{
    margin-top:20px;
    margin-bottom:30px;
}
#finalResult{
    animation: resultFloating 0.5s 1 linear;
}
@keyframes resultFloating {
    0%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0%);
    }
}