.navbar-brand img{
    width: 45px;
    height: 28px;
}
input,button,a {
    outline:0 none !important; blr:expression(this.onFocus=this.blur());
}
.question-detail{
    background-color: #e3e3e3;
    border: solid #9d9d9d 1px;
    border-radius: 0.5em;
    padding-left: 30px;
    padding-top: 8px;
}
.tab-pane{
    display: none;
}
.active{
    display: block;
}
textarea{
    resize: none;
}
select{
    width: 50%;
}
.navbar-default{
    background-image: linear-gradient(to bottom, #ff9462 0, rgba(255, 148, 98, 1.0) 100%);
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
    font-weight: bold;
    font-size: 19px;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-brand{
    color: #ffffff;
    font-size: 24px;
}
#example_zip_file{
    padding-left: 8px;
}