body{
    background-color: #f8f8f8;
}
input,button,a {
    outline:0 none !important; blr:expression(this.onFocus=this.blur());
}
.container{
    background-color: #ffffff;
    margin-top: 60px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.question-detail{
    background-color: #e3e3e3;
    border: solid #9d9d9d 1px;
    border-radius: 0.5em;
    padding-left: 30px;
    padding-top: 8px;
}
.tab-pane{
    display: none;
}
.active{
    display: block;
}
textarea{
    resize: none;
}
select{
    width: 50%;
}
.mynavbar{
    background-color: #000063;
    font-family: NavFont;
    font-weight: lighter;
    font-size: 19px;
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
}
.navbar-default .navbar-nav>li>a{
    color: #ffffff;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #ffffff;
    font-weight: bold;
}
.navbar-default .navbar-brand{
    font-size: 26px;
    color: #ffffff;
}
.navbar-default .navbar-brand:hover{
    font-weight: bold;
    color: #ffffff;
    cursor: default;
}
.navbar-right .dropdown-menu{
    text-align: right;
}
#example_zip_file{
    padding-left: 8px;
}
.form{
    padding-top: 130px;
    padding-left: 100px;
    width: 50%;
    float: left;
}
.form input{
    width: 280px;
}
.form button{
    background-color: #F18860;
    border-color: #f0ad4e;
    transition: background 2s;
    width: 280px;
}
.form button:hover{
    background-color: #F18860;
    border-color: #f0ad4e;
}
#register-email-form{
    background:url(../img/bg-signin-divider.png) no-repeat;
}
a{
    color: #a9b5c0;
}
table a{
    color: #000000;
}
#questionslist{
    margin-top: 50px;
}
#questionslist a{
    text-decoration: none;
}
.shadow{
    box-shadow: 6px 6px 20px 0px rgba(137,137,137,0.6);
}
.state{/*查询完成情况时的框*/
    padding: 5px;
    margin-bottom: 8px;
    border: solid 1px #eee;
    border-left-width: 5px;
}
.state-success{
    border-left-color: #37d22c;
}
.state-fail{
    border-left-color: #d2231a;
}
.state-success>h4{
    color: #37d22c;
}
.state-fail>h4{
    color: #d2231a;
}
footer{
    margin-bottom: 0px;
    padding: 10px 17% 20px 17%;
    background-color: #000063;
    color: #ffffff;
}
.copyright{
    text-align: center;
}
footer > div{
    display: block;
}
.footer-div{
    padding: 0 20px 0 20px;
}
#registerInfo{
    padding-left: 50px;
}
#state_refresh_button_block{
    margin-top: 8px;
    float: right;
}
.submit{/*提交解决方法的按钮*/
    background-image: linear-gradient(to bottom,#ff9462 0, #F18860 100%);
    background-color: #F18860;
    border-color: #f0ad4e;
    color: #ffffff;
}
.user-head-div{
    margin-bottom: 6px;
    margin-left: auto;
    margin-right: auto;
    width: 110px;
    text-align: center;
}
.user-head-div{
    width: 110px;
    height: 110px;
    background: url(../img/head/default.jpg);
    background-size:100% 100%;
    background-repeat:no-repeat;
    border-radius: 55px;
}
.mycol-md-2{
    height: 85%;
}
@font-face {
    font-family: NavFont;
    src: url('font/MontserratAlternates-ExtraLight.otf');
}